.menu-icon-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;

}

.side-popup {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100vh;
  background-color: #0e0e0e;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.6);
  z-index: 2000;
  transition: right 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.side-popup.open {
  right: 0;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.popup-close {
  color: #ffffff;
  cursor: pointer;
}

.popup-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup-links li button {
  background: none;
  border: none;
  color: white;
  text-align: left;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s;
}

.popup-links li button:hover {
  color: green;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.6);
  z-index: 1000;
}

.btn-login,
.btn-register,
.btn-otp {
  background-color: green;
  color: white !important;
  padding: 6px 14px;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  font-size: 14px;
  transition: all 0.3s ease, transform 0.2s ease-in-out;
  text-decoration: none;
  display: inline-block;
}

.btn-login:hover,
.btn-register:hover,
.btn-otp:hover {
  background-color: #006400;
  color: white !important;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 128, 0, 0.4);
}

.gold {
  color: gold;
}

.color {
  color: white;
}

span:hover {
  color: rgb(247, 246, 244);
}
