:root {
  --main-bg: #0b0b0b;
  --text-color: #ffffff;
  --icon-hover: #f39c12;
}

body {
  background-color: var(--main-bg);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.footer-container {
  background-color: var(--main-bg);
  color: var(--text-color);
  border-top: 2px solid var(--border-green);
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 14px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.footer-floating-logo {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.footer-logo-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid gold;
  background-color: black;
  box-shadow: 0 0 15px gold;
  object-fit: cover;
}

/* Typography & Lists */
.footer-container h4,
.footer-container h5 {
  font-weight: 600;
  margin-bottom: 15px;
  color: gold;
}

.footer-container ul {
  padding: 0;
  margin: 0;
  
  list-style: none;
}

.footer-container ul li {
  margin-bottom: 10px;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s ease;
}

.footer-container ul li:hover {
  color: var(--border-green);
}

/* Icons */
.footer-icons a {
  font-size: 20px;
  color: white;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  color: var(--icon-hover);
}

/* Logos */
.payment-logos img,
.provider-logos img {
  height: 55px;
  filter: grayscale(0.5);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.payment-logos img:hover,
.provider-logos img:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

.provider-logos,
.payment-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Footer Bottom */
.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 15px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  color: #aaa;
}

.footer-bottom span {
  cursor: pointer;
  transition: color 0.3s;
}

.footer-bottom span:hover {
  color: var(--border-green);
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    text-align: center;
    padding-top: 120px;
  }

  .footer-icons {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.col-gold,
.col-yellow {
  color: gold;
}
